{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">

    <div class="content">
      <h1 class="title">About</h1>
      <div class="is-divider" style="margin-top: 0"></div>
  
      <ul style="margin-bottom: 3em">
        <li>This service is an RSS feed reader, it allows aggregating data publicly published by websites in a convenient place.</li>
        <li>It is maintained by <a href="https://www.linkedin.com/in/alejobastidas/">Alejo Bastidas</a> and is hosted by LocalHost.</li>
        <li>The <a href="https://github.com/alejobastidas/FeedRSS_reader_Python">source code</a> of this website is Free and Open Source software, anyone can modify it and host it himself.</li>
      </ul>
  
  
    <div class="columns">
  
      <div class="column has-text-centered has-background-dark">
        <p>Only uses essential first-party cookies</p>
        <p style="margin-bottom: 4em">No tracking and no advertisement cookies</p>
        <a class="button is-info is-medium" href="cookie-policy">
          <span class="icon">
              <i class="fas fa-cookie-bite"></i>
          </span>
          <span>Cookie Policy</span>
        </a>
      </div>
  
      <div class="column has-text-centered">
        <p>Collects very little information, no email address needed</p>
        <p style="margin-bottom: 4em">Users can easily delete their account</p>
        <a class="button is-info is-medium" href="privacy-policy">
          <span class="icon">
              <i class="fas fa-shield-alt"></i>
          </span>
          <span>Privacy Policy</span>
        </a>
      </div>
  
      <div class="column has-text-centered has-background-dark">
        <p>Free of charge</p>
        <p style="margin-bottom: 4em">Accounts not respecting basic rules may be terminated</p>
        <a class="button is-info is-medium" href="terms-of-service">
          <span class="icon">
              <i class="fas fa-book"></i>
          </span>
          <span>Terms of Service</span>
        </a>
      </div>
  
    </div>
  
    </div>
  
  
      
    </div>
  </section>
{% endblock content %}

